@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    background-color: #000;
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
}

/*imagem  hadeer @media screen and (max-width: 1200px)} 
# class que eu criei f12*/
#header1 {
    max-width: 100%;
    height: 900px;
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.856)), url('./imagens/Gemini_Generated_Image_762vvl762vvl762v.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;

    position: relative;
}

#header2 {
    max-width: 100%;
    height: 400px;
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.884)), url('./imagens/Gemini_Generated1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    align-items: center;

    position: relative;
}


header h1 {
    margin: 0;
}

#menu-horizontal {
    background-color: rgb(0, 0, 0);
}

#menu-horizontal ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

#menu-horizontal ul li a {
    color: #fff;
    align-items: center;
    gap: 8px;
    padding: 20px 25px;
    display: flex;
    text-decoration: none;
    transition: background .4s;
}

#menu-horizontal ul li a:hover {
    background-color: oklch(45.097% 0.17401 27.941);
}

#menu-horizontal ul li.sociedade {
    margin-left: auto;
}

#menu-horizontal ul li.sociedade a {
    background: none;
    border: none;
}

.material-symbols-outlined {
    font-size: 30px;
    font-variation-settings: 'OPSZ' 40;
    color: #eb0101;
    margin-right: 0px;
}

#apresentacao {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
}

section {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background: #1a1a1a;
    border-radius: 8px;
}

#concorrentes {
    background: #1a1a1a;
    border: 1px solid #333333;
}

h2 {
    border-left: 4px solid #ff0000;
    padding-left: 10px;
}

#cabecalho {
    border-left: 4px solid #ff0000;
    padding-left: 15px;
    color: #ffffff;
    padding: 20px;
    font-size: 35px;
    font-weight: bold;
}

.selecao1 {
    background: transparent;
    display: flex;
    justify-content: center;
}

.selecao1 a {
    background: linear-gradient(to right, rgba(255, 0, 0, 0.11), #ff0000, rgba(255, 0, 0, 0.11));
    color: #ffffff;
    padding: 20px 70px;
    border-radius: 30px;
    width: 500px;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 30px;
    text-decoration: none;
    /* tira o o linkkk */
}

.selecao2 {
    background: transparent;
    display: flex;
    justify-content: center;
}

.selecao2 a {
    background: linear-gradient(to right, rgba(255, 0, 0, 0.11), #ff0000, rgba(255, 0, 0, 0.11));
    color: #ffffff;
    padding: 20px 70px;
    border-radius: 30px;
    width: 500px;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 30px;
    text-decoration: none;
}

#titulo1 {
    border-left: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center;
}

/*outro html p*/
.card-horizontal {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.11), #ff000070, rgba(0, 0, 0, 0.11));
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 80px;
    width: 100%;
    margin: 0;
}

.card1 {
    background: #111111;
    padding: 20px;
    width: 900px;
    max-width: 800px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card1 img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* TEXTO DA GENTE*/
#textocard {
    color: white;
    text-align: justify;
    text-align: center;
    margin-top: auto;
    font-size: 1.5rem;
}

/*fontte base*/

/*classificacao  especifica especifica.htttml*/
.lista-filmes {
    max-width: 1200px;

    margin: 40px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

}

.card-2 {
    background-color: rgb(22, 22, 22);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-2 img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 4px;
    margin-bottom: 15px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card-2 img:hover {
    transform: scale(1.03);
}


.card-2 h3 {
    font-size: 1.5em;
    color: #ffffff;
    margin-top: 0;
}


.card-2 p {
    color: #e7e7e7;
    margin: 5px 0;
}


.card-2 b {
    color: #a50a0a;

}

.card-2 .fonte {
    font-size: 0.8em;
    color: #888;
    margin-top: 10px;
    font-style: italic;
}

.lista-filmes {
    grid-template-columns: 1fr;
    gap: 20px;
}

#cardimagem {
    width: 500px;
    border-radius: 8px;
    margin: 8px;
}

/*classificacao  especifica especifica.htttml*/

img {
    width: 800px;
    border-radius: 6px;
    margin: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th,
td {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #222;
}

.link1 {
    background-color: #ff0000;
    padding: 10px 50px;
    border-radius: 30px;
    max-width: 300px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    margin: 30px;
}

/*justifycontent e justifyitems diferente*/
/*tag <a></a> = ancora*/

.link1 a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

#BOTAO {
    padding: 10px 20px;
    border-radius: 20px;
    font-family: 'Quicksand';
    font-weight: bold;
}

.botoes {
    background: transparent;
    display: flex;
    justify-content: center;
}

/*CONTATTOS*/

#titulo3 {
    border-left:3px solid #fff9f9;
    color: #fffefe;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
}

.caixacontatos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer {
    text-align: center;
    padding: 20px;
    background: #000000;
    margin-top: 40px;
    border-top: 2px solid #444;
}
