body {
    background-color: #111;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    padding: 20px;
    text-align: center;
    font-family: "Bungee", sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}

section {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background: #1a1a1a;
    border-radius: 8px;
}

h2 {
    border-left: 4px solid #ff0000;
    padding-left: 10px;
}

img {
    width: 200px;
    border-radius: 6px;
    margin: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #222;
}

footer{
    text-align: center;
    padding: 20px;
    background: #111;
    margin-top: 40px;
    border-top: 2px solid #444;
}
