@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #fff;
    font-family: 'Quicksand', sans-serif; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}

header h1{
    margin: 0;
}

#menu-horizontal{
    background-color: rgb(37, 37, 39);
}

#menu-horizontal ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

#menu-horizontal ul li a{
    color: #fff;
    align-items: center;
    gap: 8px;gap: 8px;
    padding: 20px 25px;
    display: flex;
    text-decoration: none;
    transition: background .4s;
}

#menu-horizontal ul li a:hover {
    background-color: oklch(53.933% 0.15669 23.991);
}

#menu-horizontal ul li.sociedade {
    margin-left: auto;
}

#menu-horizontal ul li.sociedade a {
    background: none;
    border: none;
}

.material-symbols-outlined {
    font-size: 30px; 
    font-variation-settings: 'OPSZ' 40;
    color: #eb0101;  
    margin-right: 0px; 
}
section {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background: #1a1a1a;
    border-radius: 8px;
}

h2 {
    border-left: 4px solid #ff0000;
    padding-left: 10px;
}

img {
    width: 200px;
    border-radius: 6px;
    margin: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #222;
}

footer{
    text-align: center;
    padding: 20px;
    background: #111;
    margin-top: 40px;
    border-top: 2px solid #444;
}
